@tailwind base;
@tailwind components;
@tailwind utilities;

#hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('https://i.ibb.co/vXqDmnh/background.jpg');
  background-size: cover;
  background-position: center center;
  /* height: 100vh;
  width: 100%;
  position: relative; */
}

.tab {
  @apply flex flex-col justify-center mx-4 md:mx-8 text-center cursor-pointer;
}

/* .tab-content.show {
  display: block;
} */

.tab-border {
  border-bottom: 4px solid transparent;
}

/* .tab-border:hover {
  border-bottom: 4px solid #e50914;
} */

.tab.active {
  border-bottom-color: #e50914;
}

tbody tr {
  /* color: #464646; */
  color: #fff;
}

tbody tr:nth-child(odd) {
  background-color: #222;
}
